{{ define "main" }}

<div class="padForHeader">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75">

      <h1 class="article-title">{{ .Title | markdownify }}</h1>

      <div class="article-content">
      {{ .Content }}
      </div>

      </div>

      <div class="column25">
        {{ if ge (len .TableOfContents) 50 }}
        <div class="section hideOnMobile">
        {{ end }}
        <div class="section">
          <div class="sectionTitle">Informações</div>
          {{ partial "resources_sticky.html" .}}
        </div>
      </div>

    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ end }}
